/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* акцент текста #2196F3 */
/* белый #FFFFFF */
/* цвет фона#2F303A */
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #212121;
  --seondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --hero-bg-color: #2f303a;
  --hero-btn-color: #188ce8;
  --primary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Шапка сайта */

.page-header {
  background-color: var(--primary-white-color);
}

/* Имя сайта */

.site-name-head {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;

  color: var(--primary-black-color);
}

.color-name-site {
  color: var(--accent-text-color);
}

/* Навигация сайта */

.list-nav {
  list-style: none;
}

.link-nav {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.link-nav:hover,
.link-nav:focus {
  color: var(--accent-text-color);
}

.link-nav.current {
  color: var(--accent-text-color);
}

/* Контакты сайта */

.list-cont {
  list-style: none;
}

.header-cont-mail,
.header-cont-tel {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--seondary-text-color);
}

.header-cont-mail:hover,
.header-cont-tel:hover {
  color: var(--accent-text-color);
}

/* Шапка сайта/ */

/* Уникальный контент страницы */

.hero-section {
  background-color: var(--hero-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  cursor: pointer;
}

.hero-btn:hover {
  background-color: var(--hero-btn-color);
}

/* Особености */

.features-section {
  background-color: var(--primary-white-color);
}

.features-list {
  list-style: none;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.features-lead {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--seondary-text-color);
}

/* Чем мы занимаемся */

.benefits-section {
  background-color: var(--primary-white-color);
}

.benefits-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.benefits-list {
  list-style: none;
}

/* Наша команда */

.team-section {
  background-color: var(--primary-bg-color);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-list {
  list-style: none;
}

.team-item {
  width: 270px;
  background-color: var(--primary-white-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-titul {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--seondary-text-color);
}

/* Портфолио */

.filtr-list {
  list-style: none;
}

.filtr-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  cursor: pointer;
}

.filtr-btn.active {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

.filtr-btn:hover {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

.projects-list {
  list-style: none;
}

.projects-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--seondary-text-color);
}

/* Уникальный контент страницы/ */

/* Футер */

.page-footer {
  background-color: var(--footer-bg-color);
}
.site-name-flooter {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-white-color);
}

.site-address {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.list-footer {
  list-style: none;
}

.footer-cont-mail,
.footer-cont-tel {
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Футер/*/
